.custom-icon {
  filter: invert(100%);
}
.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  filter: invert(1); 
}

.logo img {
  width: 60px; 
  height: auto; 
}

.head-separator {
  border-top: 5px solid white !important;
  margin-bottom: 20px !important;

}

.background-image {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: 100%;
  filter: blur(2px) brightness(70%);
  z-index: -1;
}

.background {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.heading-top {
  text-align: center;
  color: white;
  margin-top: 60px;
  font-size: 5vh;
}
.auth-container {
  width: 315px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4a5162;
  border-radius: 24px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  padding-top: 5.75px;
  width: 60%;
  margin-left: 0%;
}

.auth-title {
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 19.5px;
}

.text-input {
  width: 100%;
  padding: 6px;
  margin-bottom: 24px;
  background-color: #4a5162;
  outline: none;
  border-width: 0px;
  border-bottom: 2px solid #726dfe;
  color: #778899;
  font-size: 14px;
}

.text-input::placeholder {
  color: #778899;
}

.submit-button {
  width: 100%;
  padding: 10.5px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  background-color: #726dfe;
  color: white;
  outline: none;
  font-size: 15px;
  margin-left: 2.5%
}

.submit-button::hover {
  background-color: #938ffe;
}

.body-text {
  color: white;
  position: absolute;
  top: 85vh;
  width: 100%;
  height: auto; 
  
}
h1 {
  text-align: left;
}

li {
  margin-bottom: 10px;
  text-align:left;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
  left: 0vw;
  text-align: center;
  background-color: rgba(0, 2, 18, 10);
  font-size: 14px;
}

.footer-separator {
  border-top: 5px solid white; 
  margin-bottom: 15px;

}


